{% extends "__base.html" %}

{% block title %}Inventory List{% endblock title %}

{% block contnet %}
<div class="py-4">
  <h4>Inventories</h4>
  <small class="text-muted">Listing the Inventory</small>
</div>
<div class="table-responsive">
  <table class="table table-success table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Supplier Name</th>
          <th scope="col">Availibility</th>
        </tr>
      </thead>
       <tbody>
        {% for object in object_list %}
        <tr>
          <th scope="row">{{ forloop.counter }}</th>
          <td><a href="{% url 'inventory:inventory_detail' object.id %}">{{ object.name }}</a></td>
          <td>{{ object.supplier_name }}</td>
          <td>{{ object.availability }}</td>
        </tr>
        {% empty %}
        <tr>
            <th colspan="4" class="text-center">No inventery has been added yet.</th>
        </tr>
        {% endfor %}
      </tbody>
  </table>
</div>

{% endblock contnet %}